.table-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    
}

.column {
    height: 170px;
    display: flex;
    align-items: center;
    flex: 0 0 calc(50% - 30px); /* Sütunların genişliğini %50 yaparak arada boşluk bırakıyoruz */
    border: 3px solid #000000;
    padding: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-image: url('./portalWP.jpg');
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.column:hover {
    background-color: #f9f9f9;
    
}

.column img {
    width: 130px;
    height: 130px;
    margin-right: 20px;
    border-radius: 50%; /* Fotoğrafı yuvarlak yapmak için */
    
}

.details {
    border: 0px;
    display: flex;
    flex-direction: column;
    color :white;
    justify-content: center;
    font-size: 25px;
    align-items: flex-start; /* Metinleri resmin sağına hizala */
    flex: 1; /* Bu, metinlerin kalan alanı kaplamasını sağlar */
    
}

.details div {
    margin-bottom: 5px;
    font-size: 25px; /* Metin boyutunu ayarlamak için ekledik */
    
}

.no-characters {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

.filter-container {
    margin-bottom: 20px;
    text-align: center;
    
}

.filter-container input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    
}

.filter-container button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    
    transition: background-color 0.3s ease;
}

.filter-container button:hover {
    background-color: #45a049;
}

.filter-container button:focus {
    outline: none;
}
